trimestre3/html/040203.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:element name="geografiamundial">
    <xsd:complexType>
    <xsd:sequence>
    <xsd:element ref="pais" minOccurs="1" maxOccurs="unbounded">
    </xsd:element>
</xsd:sequence>    
</xsd:complexType>
</xsd:element>
<xsd:element name="pais">
    <xsd:complexType>
        <xsd:sequence>
            <xsd:element name="continente" type="xsd:string"></xsd:element>
            <xsd:element name="capital" type="xsd:string"></xsd:element>
        </xsd:sequence>
        <xsd:attribute name="nombre" type="xsd:string"></xsd:attribute>
    </xsd:complexType>
</xsd:element>
</xsd:schema>