trimestre3/html/040201.xsd

<?xml version="1.0" encoding="UTF-8"?> 
<xsd:schema xmlns:xsd="http://www.w3.org/2001/XMLSchema">
<xsd:element name="animales">
    <xsd:complexType>
    <xsd:all>
        <xsd:element name="perro" type="xsd:string"/>
        <xsd:element name="gato" type="xsd:string"/>
    </xsd:all>
    </xsd:complexType>
</xsd:element>
</xsd:schema>